.about-me {
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #0C0316;
  display: flex;
  height: 100vh;
  padding: 0px 10px;
}

.hobbies-img img {
  height: auto;
  max-width: 340px;
}

.about-me-div-content {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.about-me-text p {
  color: #FFFFFF;
  font-family: Fira Code;
  font-size: 0.8rem;
  margin: 10px 0;
}

.airplane-img {
  align-self: center;
  display: none;
	height: auto;
  max-width:50%;
}
