.welcome-page {
  background-color: #15161A;
  background-image: url('../../img/minimalism-home-background.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 360px;
  padding: 30px 10px;
  position: relative;
  z-index: -1;
}

.welcome-message h1 {
  color: #22369b;
  display: flex;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  margin: auto;
  max-width: 1300px;
}

.welcome-message h3 {
  color: #0f081a;
  display: flex;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  margin: auto;
  max-width: 1300px;
}
