.welcome-page {
  background-color: #15161A;
  background-image: url('../../img/minimalism-plane-ot-3840x2160.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  min-width: 360px;
  padding: 0 10px 100px;
}

.welcome-page h1 {
  color: #22369b;
  display: flex;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
}

.welcome-page h3 {
  display: flex;
  color: #0f081a;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
}
