.project-content {
  align-items: center;
  background-color: #15161A;
  display: flex;
  flex-direction: column;
  align-self: center;
  min-height: 80vh;
  min-width: 360px;
  width: 100%;
  padding: 30px 10px;
  position: relative;
}

.project-content h1 {
  color: white;
  font-size: 1.9rem;
  font-style: normal;
  font-weight: 500;
}

@media only screen and (min-width: 990px) {

  .project-content h1 {
    font-size: 2rem;
  }

}
