.scroll-top {
  bottom: 40px;
  background-color: #5429cf;
  border-radius: 10px;
  color: white;
  position: fixed;
  right: 20px;
  z-index: 100;
}

.scroll-top svg {
  color: white;
  height: auto;
  width: 40px;
}

@media screen and (max-width: 1000px) {

  .scroll-top {
    opacity: 0;
  }

}
